<div class="container-fluid homebanner"></div>

<div id="overlay">
</div>
<div class="container body-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-9 indexcontent">
        <div class="row">
          <h2 class="indexheading">BOOK YOUR TICKETS HERE..</h2>
        </div>
        <div class="row">
         
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/1.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Avengers</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Avengers</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/2.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Black Panther</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Black Panther</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/3.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Civil War</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Civil War</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/4.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Winter soldier</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Winter soldier</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/5.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Rognak</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Rognak</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/6.png" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Ant Man 2</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Ant Man 2</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/7.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">GOG</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">GOG</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/8.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">HULK</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">HULK</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/9.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">First Avengers</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">First Avengers</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/10.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Iron Man</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Iron Man</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/11.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Wolverine</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Wolverine</h5>
          </div>
          <div class="col-md-3">
            <div class="box">
              <img src="assets/Images/Posters/12.jpg" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">Iron Man 2</span>
                  <br /> 
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">Iron Man 2</h5>
          </div>
        </div>
        <div class="row margintop5">
          <!-- <div class="col-lg-12">

            <div class="col-lg-4">
              <div class="addbox">
                <img src="~/images/ads/7.jpg" class="img-thumbnail">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="addbox">
                <img src="~/images/ads/8.jpg" class="img-thumbnail" />
              </div>
            </div>
            <div class="col-lg-4">

              <div class="addbox">
                <img src="~/images/ads/9.jpg" class="img-thumbnail">
              </div>
            </div>

          </div> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="row">
          <h3 class="indexheading" style="margin-top: 38px;margin-bottom: 0px;"> ADVERTISEMENT</h3>
        </div>
        <!-- <div class="row margintop5">
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/1.jpg" class="img-thumbnail">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/2.jpg" class="img-thumbnail" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/3.jpg" class="img-thumbnail">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/4.jpg" class="img-thumbnail" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/5.jpg" class="img-thumbnail">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/6.jpg" class="img-thumbnail" />
            </div>
          </div>

        </div> -->
      </div>
    </div>
  </div>
</div>