<div class="container-fluid homebanner"></div>

<div id="overlay">
</div>
<div class="container body-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-9 indexcontent">
        <div class="row">
          <h2 class="indexheading">BOOK YOUR TICKETS HERE..</h2>
        </div>
        <div class="row">

          <div class="col-md-3" *ngFor="let item of movies">
            <div class="box">
              <img [src]="item.photoPath" alt="Avatar" class="img-responsive movieposter" />
              <div class="posteroverlay">
                <div class="postercontent">
                  <span class="h5">{{item.name}}</span>
                  <br />
                  <a [routerLink]="['/movieinfo']" class="btn btn-primary btn-block margintop5">Book Tickets</a>
                </div>
              </div>
            </div>
            <h5 class="movie-title">{{item.name}}</h5>
          </div>
        </div>
        <div class="row margintop5">
          <!-- <div class="col-lg-12">

            <div class="col-lg-4">
              <div class="addbox">
                <img src="~/images/ads/7.jpg" class="img-thumbnail">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="addbox">
                <img src="~/images/ads/8.jpg" class="img-thumbnail" />
              </div>
            </div>
            <div class="col-lg-4">

              <div class="addbox">
                <img src="~/images/ads/9.jpg" class="img-thumbnail">
              </div>
            </div>

          </div> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="row">
          <h3 class="indexheading" style="margin-top: 38px;margin-bottom: 0px;"> ADVERTISEMENT</h3>
        </div>
        <!-- <div class="row margintop5">
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/1.jpg" class="img-thumbnail">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/2.jpg" class="img-thumbnail" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/3.jpg" class="img-thumbnail">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/4.jpg" class="img-thumbnail" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/5.jpg" class="img-thumbnail">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="addbox">
              <img src="~/images/ads/6.jpg" class="img-thumbnail" />
            </div>
          </div>

        </div> -->
      </div>
    </div>
  </div>
</div>