<div class="container body-content">
  <div class="row">
    <div class="col-lg-12 paddless">

      <div class="col-lg-9">
        <div class="row borderbottom paddingbottom15 marginright">
          <div class="col-lg-3">
            <img src="assets/Images/Posters/1.jpg" style="min-width:100%" class="img-responsive" />
          </div>
          <div class="col-lg-9">
            <span class="h1 color3">Avengers Infinity War</span>
            <span class="h2 color3"> (English)</span>
            <br />
            <p>
              <b>Directed by:</b> James Bond
              <br />
              <b class="color2">Release Date:</b>
              <span class="color2">14th April 2018</span>
            </p>
            <br />
            <br />
            <span class="h4 color3">Synopsis</span>
            <p>
              Avengers: Infinity War is an upcoming American superhero film based on the Marvel Comics superhero team the Avengers, produced
              by Marvel Studios and distributed by Walt Disney Studios Motion Pictures. It is intended to be the sequel to
              2012's Marvel's The Avengers and 2015's Avengers: Age of Ultron and the nineteenth film in the Marvel Cinematic
              Universe (MCU). The film is directed by Anthony and Joe Russo, with a screenplay by the writing team of Christopher
              Markus and Stephen McFeely, and features an ensemble cast including Robert Downey Jr., Chris Hemsworth, Mark
              Ruffalo, Chris Evans, Scarlett Johansson, Benedict Cumberbatch, Don Cheadle, Tom Holland, Chadwick Boseman,
              Paul Bettany, Elizabeth Olsen, Anthony Mackie, Sebastian Stan, Danai Gurira, Letitia Wright, Dave Bautista,
              Zoe Saldana, Josh Brolin, and Chris Pratt. In Avengers: Infinity War, the Avengers join forces with the Guardians
              of the Galaxy to stop Thanos from amassing the all-powerful Infinity Stones.
            </p>
          </div>
        </div>
        <div class="row marginright">
          <h3 class="paddingbottom">Upcoming Show Times</h3>
          <div class="row">
            <div class="list-group">

              <span class="list-group-item">
                <h4 class="list-group-item-heading showdate">14th April 2018</h4>
                <p class="list-group-item-text">
                  <br />
                  <a class="btn btn-danger btn-xs">05:50 AM</a> <a class="btn btn-danger btn-xs">05:50 AM</a> <a class="btn btn-danger btn-xs">05:50 AM</a>

                </p>

              </span>

              <!-- @*<a href="#" class="list-group-item">
                                  <h4 class="list-group-item-heading showdate">27-Mar-2018</h4>
                                  <p class="list-group-item-text"><br /><span class="btn btn-danger btn-xs">07:30</span> <span class="btn btn-danger btn-xs">16:30</span> <span class="btn btn-danger btn-xs">10:30</span></p>
                              </a>
                              <a href="#" class="list-group-item">
                                  <h4 class="list-group-item-heading showdate">30-Mar-2018</h4>
                                  <p class="list-group-item-text"><br /><span class="btn btn-danger btn-xs">12:30</span> <span class="btn btn-danger btn-xs">13:00</span></p>
                              </a>*@ -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 borderleft">

        <!-- @foreach (MovieList movies in Model.MovieList) {
        <div class="media borderbottom paddingbottom">
          <div class="media-left media-middle">
            <a href="~/Home/MovieDetails/@movies.FilmId">
              <img src="@movies.FilmPosterThumbnailUrl" class="media-object" width="60" />
            </a>
          </div>
          <div class="media-body">
            <h5 class="media-heading" style="margin-top:10px;">
              <a style="color:white" href="~/Home/MovieDetails/@movies.FilmId"> @movies.Title </a>
            </h5>
            <p class="color2 suggestionmovies">@movies.DateString</p>
            @*
            <i class="fas fa-star fa-xs color1"></i>
            <i class="fas fa-star fa-xs color1"></i>
            <i class="fas fa-star fa-xs color1"></i>
            <i class="far fa-star fa-xs color1"></i>*@
          </div>
        </div>
        } -->

      </div>
    </div>
  </div>
</div>